head
  meta(charset='utf-8')
  title Download Image 
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')
  link(rel="stylesheet", href="style.css")

body

h1 Welcome to GoldHan Jewelry Image Gallary Download Section

div(class='img-container')
      <img src="gold.jpg" width="500px" height="500px">
      </div>
      <a href="http://localhost:3005/download-image">
      <button>Click here to download image  </button>
      </a>
     
hr 

footer © 2024, GoldHan Jewelry LLC Created by Hanan
      
